@use 'sass:color';

$color-first: #FF8F3F;
$color-second: #CF2B6B;
$color-third: #0D8BBB;

$color-second-dark: #6B184E;

$color-third-light: #5CE1E6;

$color-grey-dark: #554149;

$color-grey-light: #DFD2D4;

$color-black: #333;
$color-white: #fff;

$gutter: 1rem;

$form-height: 4rem;
