.App {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .ProfilePage {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .About{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .Contact{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}